# White balence 0 : off / 1 : auto
sensor-id=0
wbmode=1
tnr-mode=2
tnr-strength=1
ee-mode=1
ee-strength=0
gainrange="1 16"
ispdigitalgainrange="1 8"
exposuretimerange="5000000 20000000" 
# exposure compensation from -2 ~ 2
exposurecompensation=0
# exposure threshold from 0 ~ 255
exposurethreshold=255
