[Unit]
Description=Dragon Eye
After=network.target nvargus-daemon.service

[Service]
ExecStart=/usr/local/bin/dragon-eye.sh
Type=simple
Restart=no-failure
RestartSec=30

[Install]
WantedBy=multi-user.target

