[Unit]
Description=Dragon Eye
After=network.target nvargus-daemon.service

[Service]
ExecStart=/usr/local/bin/dragon-eye.sh
Type=simple
Restart=on-success
RestartSec=5

[Install]
WantedBy=multi-user.target

